<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul id="account_settings_menu" class="menu px-0">
      <li class="menu-title py-0 !bg-transparent mb-3 -mt-5"><a href="<%= '/' %>" class="!bg-transparent !text-neutral font-medium">&larr; <%= t('back') %></a></li>
      <li class="menu-title py-0 !bg-transparent">
        <span class="!bg-transparent"><%= t('settings') %></span>
      </li>
      <li></li>
      <li>
        <%= link_to t('profile'), settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to t('account'), settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% unless Docuseal.multitenant? %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::EMAIL_SMTP_KEY, account: current_account)) && ENV['SMTP_ADDRESS'].blank? &&  true_user == current_user %>
          <li>
            <%= link_to t('email'), settings_email_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) && true_user == current_user %>
          <li>
            <%= link_to t('storage'), settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: 'submitter_invitation_sms', account: current_account)) && true_user == current_user %>
          <li>
            <%= link_to 'SMS', settings_sms_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('notifications'), settings_notifications_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to t('e_signature'), settings_esign_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('personalization'), settings_personalization_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, User) %>
        <li>
          <%= link_to t('users'), settings_users_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <%= render 'shared/settings_nav_extra' %>
      <% if Docuseal.demo? || !Docuseal.multitenant? %>
        <% if can?(:read, AccessToken) %>
          <li>
            <%= link_to 'API', settings_api_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, WebhookUrl) %>
          <li>
            <%= link_to 'Webhooks', settings_webhooks_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </menu-active>
  <% if Docuseal.multitenant? || cannot?(:manage, :tenants) %>
    <div id="support_channels" class="mx-4 border-t border-base-300 hidden md:block">
      <div class="mt-4 text-center">
        <div class="text-xs text-gray-500">
          Modified by <strong>FED201 Robotics Team</strong>
        </div>
        <div class="text-xs text-gray-400 mt-1">
          Built on OpenSeal • Self-hosted
        </div>
      </div>
    </div>
  <% end %>
</div>
