<section class="flex items-center justify-center min-h-screen bg-base-100">
  <div class="py-10 mx-auto max-w-5xl w-full">
    <div class="max-w-xl mx-auto text-center">
      <div class="relative flex flex-col items-center">
        <%= render 'shared/logo', width: '100', height: '100' %>
        <h1 class="text-4xl font-bold mt-4 mb-4">
          FEDS Robotics Document Portal
        </h1>
      </div>
      <h2 class="mt-4 mb-10 text-lg text-gray-600">
        This is a self-hosted instance of OpenSeal, tuned and used by the FEDS Robotics organization. This is an altered version.
      </h2>
    </div>
    <br />
    <div class="card bg-base-200 shadow-md max-w-xl mx-auto">
      <div class="card-body">
        <div class="text-center mb-6">
          <h2 class="text-2xl font-semibold text-gray-900">
            Sign in to your account
          </h2>
        </div>

        <%= form_for :user, url: session_path(:user), html: { class: 'space-y-6' } do |f| %>
          <div>
            <%= f.label :email, 'Your email', class: 'block mb-2 text-sm font-medium text-gray-900' %>
            <%= f.email_field :email, class: 'input input-bordered w-full', placeholder: 'name@company.com', required: true %>
          </div>
          <div>
            <%= f.label :password, class: 'block mb-2 text-sm font-medium text-gray-900' %>
            <%= f.password_field :password, class: 'input input-bordered w-full', placeholder: '••••••••', required: true %>
          </div>

          <div class="flex items-center justify-between">
            <label class="flex items-center space-x-2 text-sm text-gray-500">
              <input id="remember" type="checkbox" class="checkbox checkbox-sm">
              <span>Remember me</span>
            </label>
            <a href="<%= new_password_path(:user) %>" class="text-sm text-primary-600 hover:underline">Forgot password?</a>
          </div>

          <%= f.submit 'Sign in', class: 'btn btn-primary w-full' %>

          <p class="text-sm font-light text-center text-gray-500 mt-4">
            Don’t have an account yet?
            <a href="<%= new_user_path(:user) %>" class="font-medium text-primary-600 hover:underline">Sign up</a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/attribution', with_counter: true %>
